<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>pastepin chat</title>
	<link rel="stylesheet" href="style.css">
	<!-- Debug VERSION -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="chat.js"></script>
</head>
<body>
	<div id="app">
		<header>
			<connect-form v-if="!connected" v-on:connect="handle_connect"></connect-form>
			<div v-else>
				Connected
			</div>
		</header>
		<main>
			<section>
				<label for="msg_input">Message: </label>
				<input type="text" v-model="user_msg" id="msg_input" v-on:keyup.enter="send_msg()">
			</section>
			<section>
				<div class="message" v-for="msg in messages">
					<span>{{ msg.nick }}</span>: <span>{{ msg.msg }}</span>
				</div>
			</section>
		</main>
		<aside>
			<!--		User list-->
		</aside>
		<footer></footer>
	</div>
</body>
</html>
