@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

body {
	background-color: #393939;
	margin: 0;
	padding: 0;
}

#app {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	align-items: stretch;
	overflow-x: hidden;
}

.tab_button {
	flex-grow: 1;

	min-width: 200px;
	padding: 6px 10px;
	margin-bottom: -1px;
	margin-right: -1px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;

	border: none;
	background: #696969;
	color: #F0F8FF;

	cursor: pointer;
}

.tab_button:hover {
	background-color: #E0E0E0;
	color: #393939;
}

.tab_button.active {
	outline: 0;
	background-color: #393939;
	color: #F0F8FF;
	border-bottom: 2px solid darkorange;
}

.chat {
	font-family: 'Open Sans', sans-serif;

	flex-grow: 1;

	display: flex;
	flex-direction: column;

	box-sizing: border-box;
	padding: 1em;
	color: #F0F8FF;
}

#input {
	display: flex;
	justify-content: center;
	align-items: baseline;
	box-sizing: content-box;
	padding-top: 5px;
}

#input > label {
	margin-right: 1em;
}

input[type=text] {
	border: 1px solid darkorange;
	border-radius: 15px;
	padding: 10px 0 10px 1em;
	font-family: 'Open Sans', sans-serif;
	background-color: #595959;
	color: #F0F8FF;
}

input[type=text]:focus {
	outline: 0;
}

#msg_input {
	flex-grow: 1;
}

#messages {
	overflow: auto;
	flex: 1;
}

#messages > div {
	height: 1px; /* Magic */
}

.nick_input {
	display: flex;
	justify-content: center;
	align-items: baseline;
}

.nick_input > input[type=text] {
	padding: 1em;
	text-align: center;
}

button, button::-moz-focus-inner {
	outline: none;
	border: 0;
}