@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

body {
	background-color: #393939;
	margin: 0;
	padding: 0;
}

#app {
	font-family: 'Open Sans', sans-serif;

	height: 100vh;

	display: flex;
	flex-direction: column;

	box-sizing: border-box;
	padding: 1em;
	color: #f0f8ff;
}

header {
	background-color: #393939;
}

main {
	background-color: #696969;
}

.connect_form_connected {
	width: 0;
	height: 0;
}

#input {
	display: flex;
	justify-content: center;
	align-items: baseline;
	box-sizing: content-box;
	padding-top: 5px;
}

#input > label {
	margin-right: 1em;
}

#msg_input {
	border: none;
	border-radius: 15px;
	flex-grow: 1;
	padding: 10px 0 10px 1em;
	font-family: 'Open Sans', sans-serif;
}

#messages {
	overflow-y: auto;
	flex-grow: 1;
}