@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

body {
	background-color: #393939;
	margin: 0;
	padding: 0;
}

#app {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	align-items: stretch;
	overflow: hidden;
}

.tab_button {
	flex-grow: 1;

	min-width: 200px;
	padding: 6px 10px;
	margin-bottom: -1px;
	margin-right: -1px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;

	border: none;
	background: #696969;
	color: #F0F8FF;

	cursor: pointer;
}

.tab_button:hover {
	background-color: #E0E0E0;
	color: #393939;
}

.tab_button.active {
	outline: 0;
	background-color: #393939;
	color: #F0F8FF;
	border-top: 2px solid darkorange;
}

.tab-view {
	font-family: 'Open Sans', sans-serif;

	flex-grow: 1;

	display: flex;
	flex-direction: column;

	box-sizing: border-box;
	padding: 1em;
	color: #F0F8FF;
}


#input {
	display: flex;
	justify-content: center;
	align-items: baseline;
	box-sizing: content-box;
	padding-top: 5px;
}

#input > label {
	margin-right: 1em;
}

.chat_input {
	border: 1px solid darkorange;
	border-radius: 15px;
	padding: 10px 0 10px 1em;
	font-family: 'Open Sans', sans-serif;
	background-color: #595959;
	color: #F0F8FF;
}

.chat_input:focus {
	outline: 0;
}

#msg_input {
	flex-grow: 1;
}

.full_height_flex_container {
	overflow: auto;
	flex: 1;
}

.magic {
	height: 1px; /* Magic */
}

.nick_input {
	display: flex;
	justify-content: center;
	align-items: baseline;
}

.nick_input > input[type=text] {
	padding: 1em;
	text-align: center;
}

button, button::-moz-focus-inner {
	outline: none;
	border: 0;
}

#pastes {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: 1fr;
	grid-gap: 20px;
}

@media screen and (min-width: 1000px) {
	#pastes {
		grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
	}
}

#paste_form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

#paste_form input[type=text] {
	border: none;
	background-color: #595959;
	color: #F0F8FF;
	padding: 5px;
	border-radius: 5px;
}

#paste_form input[type=button] {
	place-self: center;

	border: 1px solid darkorange;
	border-radius: 5px;
	background-color: #292929;
	color: #F0F8FF;
	padding: 10px 50px 10px 50px;
}

#paste_form input[type=button]:hover {
	place-self: center;
	border: 1px solid #F0F8FF;
	color: darkorange;
	padding: 10px 50px 10px 50px;
}

textarea {
	background-color: #595959;
	color: #F0F8FF;
	margin: 5px 0 5px 0;
	border: none;

}

.paste {
	background: #494949;
}

.paste_content {
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: pre-line;
}
